
$decor-color: gold;
$text-color: #666666;
$max-width: 1170px;
$text-family: Raleway;
$title-family: Roboto;
$elements-family: Open-sans;
$padding: 10px;
$header-height: 150px;
$main-height: calc(100vh - $header-height);
$transition: 0.5s;